#hound_trance_mermaid_container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vh;
    width: 60%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px 0px #b2b2b2;
    z-index: 999999999999;
}